<nav class="border-b-red-500 border-2 h-16">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between">
      <!-- Logo -->
      <div class="flex-shrink-0 flex items-center">
        <img class="block h-8 w-auto rounded-full" ngSrc="./assets/icons/transcord.webp" alt="Logo" height="128" width="128">
        <h1 class="text-2xl pl-4 font-poppins-bold text-black">Transcord</h1>
      </div>
      <div class="ml-4 relative flex flex-row">
        <div>
          <button (click)="onMenuClick()" id="dropdownButton" class="flex items-center text-white focus:outline-none text-xl h-16 leading-10 px-0 py-4">
            <img class="block h-8 w-auto" ngSrc="./assets/icons/bars-solid.svg" alt="Menu" height="32" width="32">
          </button>
        </div>
        @if (isDropdownOpen) {
          <div id="dropdownMenu" class="fixed top-0 inset-x-0 z-50 bg-black bg-opacity-90">
            <div class="max-w-screen h-96 mx-auto px-4 py-8 text-lg">
              <button (click)="closeDropdown()" id="backButton" class="text-left mb-4 text-white">
                <svg class="h-5 w-5 inline-block -mt-1 mr-2 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18"></path></svg>
                Retour
              </button>
              <div class="flex flex-col items-center">
                <a href="/" class="block mb-4 text-white border-b-white border-b-2 pb-2	">Home</a>
                <a href="/profile" class="block mb-4 text-white border-b-white border-b-2 pb-2	">Profile</a>
                <a href="/aboutus" class="block text-white border-b-white border-b-2 pb-2	">About Us</a>
              </div>
            </div>
          </div>
        }
        <div>
          <button class="flex items-center h-16 leading-10 px-4 py-4" (click)="onLogout()">
            <img class="block h-8 w-auto" ngSrc="./assets/icons/power-off-solid.svg" alt="Logout" height="32" width="32">
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

