<auth-layout>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <input-field title="Username" name="username" type="text" placeholder="example"/>
    <input-field title="Password" name="password" type="password" placeholder="1234"/>
    <input-field title="Confirm password" name="confirmPassword" type="password" placeholder="1234" />`

    <app-primary-button
      type="submit"
      className="w-[95%] mx-auto mt-2 font-bold uppercase"
    >
      REGISTER
    </app-primary-button>
  </form>
</auth-layout>
