<app-navbar/>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>About Us</h1>
      <div class=" flex justify-between">
        <img ngSrc="/assets/photos/anthony.webp" alt="Anthony" class="img-fluid w-1/6" height="1920" width="1080">
        <img ngSrc="/assets/photos/lucas.webp" alt="Lucas" class="img-fluid w-1/6" height="1920" width="1080">
      </div>
      <p>
        We are a group of students from Toulouse Ynov Campus who are passionate about web development. We created this
        website to help people to translate their text in different languages. We hope you will enjoy our website.
      </p>
    </div>
  </div>
</div>
